body {
  background-color: blue;
}
#nav-bar{
display: flex;
flex-direction: row;
/* background-color: red; */
}
#landing-btn,
#home-btn,
#portfolio-btn,
#contact-btn{
border: 3px;
border-style: outset;
opacity: 0.8;
width: 25vw;
height: 10vh;
/* background-color: red; */
}
footer{
border-radius: 10px;
  bottom: 0%;
  position: fixed;
  width: 100vw;
  height: 10vh;
  background-color: gray;
}  
